  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-darken-4">You are in a right place!</h1>
        <div class="row center">
          <h5 class="header col s12 light teal-text text-darken-1"><b>Get the best Education Abroad!</b></h5>
        </div>
        <div class="row center">
          <a href="#" id="download-button" class="btn-large waves-effect waves-light teal lighten-2">Get Started</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img class="responsive-img" src="/assets/fair-min.jpg" alt=""></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">school</i></h2>
            <h5 class="center">World's Top Universities</h5>

            <p class="light">During 10 years of experience, we have established reliable partnerships with more than 150 the best Universities around the world. The number of partners is not just an indicator of our responsibility and diligence, but also the opportunity to find exactly what you need.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">public</i></h2>
            <h5 class="center">Global Events</h5>

            <p class="light">Our events always attract the public attention, we carefully choose the venue and thoroughly monitor to ensure that everything goes at the highest level. We do not stand still but constantly improve the quality of our service. If you are striving for success, then your journey should begin from here!</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">mood</i></h2>
            <h5 class="center">Happy Customers</h5>

            <p class="light">We have more than 5000 satisfied customers. Our individual approach is that we not only take care of our students from the beginning of cooperation to the end of the educational program, but also we keep in touch and rejoice the following successes, spreading students to the whole world!</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h2 class="header col l12 s4 light teal-text text-darken-4">Your Success Starts Here!</h2>
        </div>   
          <div class="header col s4 center">
            <a href="#" id="download-button" class="btn-large waves-effect waves-light teal lighten-2">Keep in touch</a>
          </div>
      </div>
    </div>
    <div class="parallax" ><img class="responsive-img" src="/assets/plane-min.jpg" alt="" ></div>
  </div>

  <div class="container">
    <div class="section">
    


    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light"></h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="/assets/parallax1.jpg" alt="" style="width: 100%;"></div>
  </div>


