// Overriden styles

//Parallax container heigt
.parallax-container {
      height: 400px;
    }

.parallax-image1 {
  background-image: url("../assets/fair-min.jpg");
  width: 100%;
  height: auto;
}

.parallax-image2 {
  background-image: url("../assets/plane-min.jpg");
  width: 100%;
  height: auto;
}

.parallax-image3 {
  background-image: url("../assets/city-min.jpg");
  width: 100%;
  height: auto;
}
