<<!DOCTYPE html>
<html lang="ka">
<head>
	<meta charset="UTF-8">
	<title>უცხოეთში სწავლა</title>
</head>
<nav>
	<div>
		<a href="#" class="brand-logo">Logo</a>
	</div>
</nav>


<body>

	<%= yield %>
	
</body>
</html>